:root {
  /** 
   * Colors
   */
  --transparent: hsla(0, 0%, 100%, 0);
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  --gray: hsl(0, 0%, 36%);

  /** 
   * Fonts
   */
  --large: clamp(3rem, 10vw, 20rem);

  /** 
    * Spacing
    */
  --general: clamp(2.5rem, 7vw, 10rem);

  /** 
     * Easing
     */
  --ease-linear: cubic-bezier(0.25, 0.25, 0.75, 0.75);
  /* power1 */
  --ease-in-quad: cubic-bezier(0.11, 0, 0.5, 0);
  --ease-out-quad: cubic-bezier(0.5, 1, 0.89, 1);
  --ease-in-out-quad: cubic-bezier(0.45, 0, 0.55, 1);
  /* power2 */
  --ease-in-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  --ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
  --ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);
  /* power3 */
  --ease-in-quart: cubic-bezier(0.5, 0, 0.75, 0);
  --ease-out-quart: cubic-bezier(0.25, 1, 0.5, 1);
  --ease-in-out-quart: cubic-bezier(0.76, 0, 0.24, 1);
  /* power4 */
  --ease-in-quint: cubic-bezier(0.64, 0, 0.78, 0);
  --ease-out-quint: cubic-bezier(0.22, 1, 0.36, 1);
  --ease-in-out-quint: cubic-bezier(0.83, 0, 0.17, 1);
  /* expo */
  --ease-in-expo: cubic-bezier(0.7, 0, 0.84, 0);
  --ease-out-expo: cubic-bezier(0.16, 1, 0.3, 1);
  --ease-in-out-expo: cubic-bezier(0.87, 0, 0.13, 1);
}

/* //TODO */
/* @supports not (font-size: clamp(1rem, 2vw, 3rem)) {
  :root {
    --xs: 1.4rem;
  }

  @media (min-width: 768px) {
    :root {
      --xs: 1.4rem;
    }
  }
} */
